<h1>どちらで新規アカウントを作成しますか？</h1>
<%= link_to "フィナンシャルプランナー 新規", new_planner_url, {class: "btn btn-primary pull-left btn-lg"}%>
<%= link_to "お客様 新規", new_customer_url ,{class: "btn btn-primary pull-left btn-lg"}%>